
.wrapperAboutUs{
    display: flex;

    background-color: #FBFBFB;

    font-family: Roboto, sans-serif;

    padding-top: 30px;
    padding-right:70px;

    min-height: 435px;

    margin-top: 30px;
}

.photoAboutCompany{
    display: flex;

    width: 60%;

    padding: 0 20px;

    box-sizing: border-box;
}

.aboutTextCompany{
    width: 40%;

    height: 300px;
}

.aboutTextCompany h3 {
    font-size: 64px;

    font-weight: normal;

    color: #BDBDBD;

    margin: 0;
}

.aboutTextCompany p{
    font-size: 16px;

    line-height: 25px;

    margin-bottom: 30px;
}

.aboutTextCompany button{
    cursor: pointer;

    border: none;

    padding: 24px 86px 24px 20px;

    background: url("../../../assets/photo/right.svg") white no-repeat 130px;
    background-size: 20px;
}

.firstPhoto{
    margin-bottom: 30px;
}

.secondColumnPhoto{
    display: flex;
    align-items: center;
}