
.missionPage h3 {
    text-align: left;

    font-size: 64px;

    color: #BDBDBD;

    font-weight: normal;

    margin: 15px 0;
}

.missionList{
    display: flex;
    justify-content: space-between;
}

.firstListMission{
    display: flex;
    align-items: center;

    margin: 0;

    width: 48%;
}

.secondListMission{
    display: flex;
    align-items: center;

    margin: 0;

    width: 48%;
}

.firstListMission p{
    margin: 0;

    line-height: 36px;

    font-size: 22px;
}

.secondListMission p{
    margin: 0;

    line-height: 36px;

    font-size: 22px;
}

.firstListMission span{
    font-size: 200px;

    color: #F2F2F2;
}

.secondListMission span{
    font-size: 200px;

    color: #F2F2F2;

    margin-right: 20px;
}