.bannerMainPage{
    display: flex;
}

.aboutTextBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutTextBanner h1 {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 64px;
    font-weight: normal;

    color: #BDBDBD;

    text-align: center;
}

.aboutTextBanner h1 span {
    font-weight: bold;
    color: black;
}

.aboutTextBanner p {
    margin: 0;

    text-align: center;

    font-size: 18px;

    padding: 0 5px;
}

.photoBanner{
    position: relative;
}

.photoBanner img {
    height: 100%;
    width: auto;
}

.photoBanner button{
    position: absolute;

    bottom: 0;
    left: 0;

    cursor: pointer;

    border: none;

    padding: 24px 50px 24px 20px;

    background: url("../../../assets/photo/right.svg") white no-repeat 130px;
    background-size: 20px;
}