
.wrapperProjectMainPage{
    padding: 40px 0;
}

.wrapperProjectMainPage h3 {
    text-align: left;
    font-size: 64px;
    color: #BDBDBD;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 15px;
}

.projectMainPage{
    margin: 30px 0;
}

.firstRow{
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;
}

.photoFirst{
    width: 45%;
}

.photoSecond{
    width: 45%;
}

.photoFirst img{
    width: 100%;
}

.photoSecond img{
    width: 100%;
}

.secondRow{
    display: flex;
    justify-content: space-between;
}

.projectPhoto img {
    width: 100%;
}

.secondRow > .projectPhoto{
    margin-right: 30px;
}

.secondRow > .projectPhoto:last-child{
    margin-right: 0;
}

.btnProject{
    display: flex;
    justify-content: flex-end;
}

.btnProject > a > button{
    cursor: pointer;

    border: none;

    padding: 20px 100px 20px 20px;

    color: white;

    background: url("../../../assets/photo/rightWight.png") #000000 no-repeat 130px;
    background-size: 20px;

    text-align: center;

    text-transform: uppercase;
}