
.contact{
    display: flex;
}

.companyInformation{
    margin: 10px 0;
}

.companyInformation h4 {
    margin: 0;
}

.contactText{
    margin-right: 60px;
}

.contactText button {
    cursor: pointer;

    border: none;

    padding: 20px;

    color: white;

    background: #000000;

    text-align: center;

    text-transform: uppercase;

    margin-top: 30px;
}

.contactMap{
    display: flex;

    align-items: center;
}

.contactMap img {
    width: 80%;
    height: auto;
}