
.wrapperHeader{
    padding: 10px 0;
}

.logoCompany{
    margin-right: 150px;
}

.navigationHeader{
    margin-left: 100px;
    display: flex;
}

.navigationHeader li {
    list-style-type: none;

    margin-right: 40px;
}

.navigationHeader li:last-child{
    margin-right: 0;
}

.navigationHeader a {
    font-family: Roboto, sans-serif;

    font-size: 12px;

    text-transform: uppercase;

    text-decoration: none;

    color: black;

    position: relative;
}

.logoCompany img {
    height: 50px;
    width: auto;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigationItem:hover:before{
    width: 100%;
}

.navigationItem:hover:after{
    width: 100%;
}

.navigationItem:before{
    content: '';

    display: block;

    height: 1px;
    width: 0;

    background-color: black;

    position: absolute;

    top: -5px;

    transition: width 0.5s;
}

.navigationItem:after{
    content: '';

    display: block;

    height: 1px;
    width: 0;

    background-color: black;

    position: absolute;

    bottom: -5px;

    transition: width 0.5s;
}


.nowPage{
    position: absolute;
}

.nowPage:before{
    content: '';

    display: block;

    height: 1px;
    width: 100%;

    background-color: black;

    position: absolute;

    top: -5px;
}

.nowPage:after{
    content: '';

    display: block;

    height: 1px;
    width: 100%;

    background-color: black;

    position: absolute;

    bottom: -5px;
}