.footer{
    display: flex;
    justify-content: space-between;

    color: white;

    padding-bottom: 60px;
}

.wrapperFooter{
    background-color: #2C2C2C;

    padding-top: 56px;
}

.footerNavigation a {
    text-decoration: none;

    color: white;
}

.logoFooter img {
    height: 50px;
}

.footerNavigation li {
    margin-bottom: 16px;
}

.footerContact li {
    margin-bottom: 20px;

    padding-left: 25px;
}

p{
    margin: 0;
}

ul {
    list-style-type: none;

    padding:0;
}

.addressFooter{
    background: url("../../assets/photo/Footer/map.png") no-repeat 0;
}

.numberFooter{
    background: url("../../assets/photo/Footer/phone.png") no-repeat 0;
}

.emailFooter{
    background: url("../../assets/photo/Footer/massenge.png") no-repeat 0;
}

.footerSocialMedia ul {
    display: flex;
}

.footerSocialMedia ul li {
    margin-right: 10px;
}

.footerSocialMedia ul li:last-child{
    margin-right: 0;
}

.textEndSite{
    text-align: center;

    margin: 0;

    color: rgba(200, 200, 200, 0.5);

    font-weight: normal;

    border-top: 1px #ffffff solid;

    padding: 24px 0;
}