.wrapperContact{
    padding-bottom: 120px;
}

.contact{
    display: flex;

    margin-bottom: 70px;
}

.formContact{
    display: flex;
    flex-direction: column;

    width: 391px;

    margin-right: 30px;
}

.formContact textarea{
    resize: none;

    margin-bottom: 0;

    height: 147px;
}

.inputText{
    background-color: #F3F3F3;

    border: none;

    margin-bottom: 10px;

    padding: 12px;

    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btnContact button {
    cursor: pointer;

    border: none;

    padding: 20px 100px 20px 20px;

    color: white;

    background: url("../../../assets/photo/rightWight.png") #000000 no-repeat 130px;
    background-size: 20px;

    text-align: center;

    text-transform: uppercase;
}