
.gallery{
    padding-bottom: 50px;
}

.galleryItem{
    display: inline-block;

    margin-right: 10px;
    margin-bottom: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 64px;
    font-weight: normal;

    color: #BDBDBD;

    text-align: left;
}

h1 span {
    font-weight: bold;

    color: black;

    display: block;
}