.projectItem{
    display: flex;

    background-color: #FBFBFB;

    margin-bottom: 30px;
}

.photoProjectItem img{
    height: 100%;
    width: auto;
}

.descriptionProjectItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px 0 20px 30px;
}

.descriptionProjectItem h4 {
    font-weight: 300;

    font-size: 40px;

    line-height: 47px;

    color: #BDBDBD;

    margin: 0;
}

.descriptionProjectItem p {
    line-height: 25px;
}

.descriptionProjectItem button {
    height: 71px;

    cursor: pointer;

    border: none;

    padding: 20px 100px 20px 20px;

    color: black;

    background: url("../../../assets/photo/right.svg") #ffffff no-repeat 150px;
    background-size: 20px;

    text-align: center;

    text-transform: uppercase;
}